header {
  background-color: sandybrown;
  padding: 12px 24px;
  box-shadow: 0 8px 30px rgba(30, 30, 0 ,0.2);
}

h1 {
  color: white;
  margin: 0 30px;
  font: 600 30px 'Roboto Condensed', sans-serif;
}
